/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

/********************
/***  BASE LAYOUT ****
**********************/

body {
  font-size: 24px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#content {
  height: 100%;
}

@media screen and (min-width: 812px) {
  #content {
    width: 100%;
  }
}

header {
  background: rgb(67, 61, 60);
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin: 2rem;
}

#nav {
  display: flex;
  flex-direction: row;
}

#nav li {
  margin: 0 1rem 0 1rem;
  color: aliceblue;
}

a {
  text-decoration: none;
  font-weight: 300;
}
a:visited {
  color: white;
}

#main {
  width: 100%;
  background: rgb(252, 245, 237);
}

footer {
  width: 100%;
  height: 100%;
  background: rgb(67, 61, 60);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

/******************************************
/* HOME TAB
/*******************************************/

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background: url(/dist/images/background.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  color: white;
  line-height: 4rem;
}

#details h2 {
  font-size: 3rem;
  margin-top: 5%;
  font-weight: 400;
}

#details p {
  font-size: 1.5rem;
  width: 100%;
  padding: 3rem;
  font-weight: 400;
}

#details #tagline {
  padding: 0.5rem;
}

#order {
  font-size: 2rem;
  font-weight: 300;
  border-radius: 0.25rem;
  border: none;
  color: white;
  background: rgb(68, 92, 109);
  padding: 1rem 2rem;
  margin: 1rem;
}

#para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  background: rgb(65, 77, 87);
  color: white;
  line-height: 2rem;
}

#para p {
  padding: 0 1rem;
  font-weight: 300;
}

/******************************************
/* MENU TAB
/*******************************************/

#menu-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  text-align: center;
}

#menu-content h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 600px;
  line-height: 2rem;
}

.menu-item h3 {
  font-size: 24px;
  font-weight: 500;
  
}

.menu-item h4{
  font-size: 20px;
  font-weight: 300;
  padding: 0.5rem 0;
}


.menu-item p {
  font-size: 18px;
  font-weight: 400;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
